* {
  box-sizing: border-box;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*colors*/
/*fonts*/
body {
  margin: 0;
}

body .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://github.com/adriannadyga/zadanie-golden/blob/master/images/Background%20Image.png?raw=true);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

body .hero .logo {
  position: absolute;
  left: 300px;
  top: 70px;
}

body .hero .navbar {
  position: absolute;
  left: 850px;
  top: 70px;
  overflow: hidden;
}

body .hero .navbar a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

body .hero .hero-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body .hero .hero-text h3 {
  font-style: italic;
  font-size: 40px;
}

body .hero .hero-text h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 900;
}

body .hero .hero-text button {
  border: none;
  color: #ffffff;
  background-color: #fed136;
  width: 242px;
  height: 68px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

body .services {
  margin: 10%;
  text-align: center;
}

body .services h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #222222;
  margin: 0;
}

body .services .italic {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  color: #777777;
  padding-bottom: 70px;
}

body .services .btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #fed136;
  background-color: #ffffff;
}

body .services .btn .fas {
  font-size: 40px;
  color: #fed136;
}

body .services h4 {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #222222;
}

body .services p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #777777;
  padding: 0 15px;
}

body .portfolio {
  margin: 0 auto;
  padding-top: 120px;
  background-color: #F7F7F7;
}

body .portfolio .container {
  margin: 0 230px 0 230px;
  text-align: center;
}

body .portfolio .container h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #222222;
  margin: 0;
}

body .portfolio .container p {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 17px;
  text-align: center;
  color: #777777;
  padding-bottom: 50px;
}

body .portfolio .container .backgr-white {
  width: 304px;
  height: 396px;
  margin: 0 auto;
  margin-bottom: 70px;
  background-color: #ffffff;
}

body .portfolio .container .backgr-white img {
  width: 304px;
  height: 304px;
}

body .portfolio .container .backgr-white h5 {
  font-size: 18px;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

body .portfolio .container .backgr-white p {
  margin: 0 auto;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */