* {
    box-sizing: border-box;
}

.row::before,
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*colors*/
$white: #ffffff;
$yellow: #fed136;
$black: #222222;
$grey: #777777;
$background: #F7F7F7;

/*fonts*/
$fontM: 'Montserrat', sans-serif;

body {
    margin: 0;
    .hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://github.com/adriannadyga/zadanie-golden/blob/master/images/Background%20Image.png?raw=true);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        .logo {
            position: absolute;
            left: 300px;
            top: 70px;
        }
        .navbar {
            position: absolute;
            left: 850px;
            top: 70px;
            overflow: hidden;
            a {
                text-decoration: none;
                color: $white;
                padding: 0 20px;
                font-size: 15px;
                text-transform: uppercase;
                font-family: $fontM;
            }
        }
        .hero-text {
            position: absolute;
            width: 100%;
            text-align: center;
            color: $white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h3 {
                font-style: italic;
                font-size: 40px;
            }
            h1 {
                text-transform: uppercase;
                font-family: $fontM;
                font-size: 70px;
                font-weight: 900;
            }
            button {
                border: none;
                color: $white;
                background-color: $yellow;
                width: 242px;
                height: 68px;
                font-size: 18px;
                font-family: $fontM;
                font-weight: 700;
                text-transform: uppercase;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .services {
        margin: 10%;
        text-align: center;
        h2 {
            text-transform: uppercase;
            font-family: $fontM;
            font-weight: 700;
            font-size: 40px;
            color: $black;
            margin: 0;
        }
        .italic {
            font-family: $fontM;
            font-style: italic;
            font-size: 17px;
            text-align: center;
            color: $grey;
            padding-bottom: 70px;
        }
        .btn {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 4px solid $yellow;
            background-color: $white;
            .fas {
                font-size: 40px;
                color: $yellow;
            }
        }
        h4 {
            font-size: 15px;
            font-family: $fontM;
            font-weight: 800;
            color: $black;
        }
        p {
            font-size: 15px;
            font-family: $fontM;
            color: $grey;
            padding: 0 15px;
        }
    }
    .portfolio {
        margin: 0 auto;
        padding-top: 120px;
        background-color: $background;
        .container {
            margin: 0 230px 0 230px;
            text-align: center;
            h2 {
                text-transform: uppercase;
                font-family: $fontM;
                font-weight: 700;
                font-size: 40px;
                color: $black;
                margin: 0;
            }
            p {
                font-family: $fontM;
                font-style: italic;
                font-size: 17px;
                text-align: center;
                color: $grey;
                padding-bottom: 50px;
            }
            .backgr-white {
                width: 304px;
                height: 396px;
                margin: 0 auto;
                margin-bottom: 70px;
                background-color: $white;
                img {
                    width: 304px;
                    height: 304px;
                }
                h5 {
                    font-size: 18px;
                    color: $black;
                    font-family: $fontM;
                    margin-bottom: 0;
                }
                p {
                    margin: 0 auto;
                    font-size: 14px;
                }
            }
        }
    }
}
